.app {
  padding: 10px;
  height: 94vh;
  overflow: hidden;
}

.left-panel {
  background-color: #5269ec;
  width: 20%;
  border-radius: 5px;
  height: 100%;
  float: left;
  overflow-y: auto;
}

.message-panel {
  text-align: right;
  width: 77%;
  height: 93%;
  float: right;
  background-color: #878686;
  overflow-y: auto;
  border-radius: 5px;
}

.bottom-panel {
  margin-left: 40%;
  margin-top: 650px;
  width: 350px;
  height: 50px;
  display: flex;
}

.chat-list {
  list-style: none;
  border: 1px solid red;
  margin: 0;
  margin-left: 0;
}

.chat-item {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.chat-item:hover {
  background-color: #6f82ecf1;
  flex-grow: 1;
}

.chat {
  margin-bottom: 10px;
}

.input-form {
  font-size: 20px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #878686;
  border-radius: 5px;
}
.chat-list-input {
  flex: 1;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #878686;
  border-radius: 5px;
}

.send-btn {
  background-color: #007bff;
  cursor: pointer;
  border-radius: 30%;
  /* animation: btnscale 1s ease-in 0s infinite; */
}

.send-btn:hover {
  scale: 1.2;
}

/* @keyframes btnscale {
  from {
    scale: 1;
  }
  to {
    scale: 1.1;
  }
} */

.message {
  text-align: right;
  color: rgb(28, 73, 73);
  cursor: pointer;
  margin-right: 15px;
}
.input-button {
  display: flex;
}
.icon-add {
  color: rgb(5, 72, 20);
  font-size: 30px;
  cursor: pointer;
}

.icon-add:hover {
  color: #007bff;
  scale: 1.1;
}

.delete-icon {
  color: rgb(128, 29, 29);
  font-size: 25px;
  cursor: pointer;
  float: right;
  margin-right: 15px;
}
.edit-icon {
  color: rgb(10, 48, 10);
  float: right;
}
.update-icon {
  size: 55px;
  margin-left: 15px;
  color: rgb(57, 55, 55);
}
